

@media (max-width: 425px) {
main .menu {
        position: relative;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        min-height: 20px;
        margin-bottom: 0;
        gap: 20px; 
        background-color: none;  
    }

    main .conteiner {
        min-width: 395px;
        }

    main .subtitulo {
        font-size: 20px;
    }

    main .descricao {
        max-width: 350px;
        font-size: 15px;
    } 



}

@media (min-width: 630px) {
    main .conteiner {
        min-width: 600px;
    } 
    }


@media (max-width: 880px) {
    main .menu {
        position: relative;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        min-height: 20px;
        gap: 20px; 
        }
        #contatos {
            display: none;
        }
        

        main .conteiner {
            min-width: 300px;
        }
        

        main .subtitulo {
            font-size: 25px;
        }

    }